/[Bb]uild*

.vs/
out/

CMakeSettings.json
/C++/client-server/.githubX
C++/client-server/.githubX/workflows/build.yml
/C++/client-server/.githubX
/C++/client-server/.gitX
C++/client-server/.githubX/workflows/build.yml

